


   <footer class="d-flex justify-content-center pt-5"> 

      <p> &copy; 2018 <a href='https://github.com/leo-mezie' target='_blank'> GitHub</a>
        |  All rights reserved.</p>
        </footer>
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/popper.min.js'></script>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/js/script.js'></script>